

body {
    background-color: whitesmoke;
}

.header {
    padding: 1.5rem 2.5rem;
    font-size: 1.1rem;
    font-family: Maison Neue,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: black;
    font-weight: 300;
    border-top: solid 0.1rem #63d488;
    margin: 0;
}
.leftcol{
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.leftcol p {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.mainnav li {
    list-style-type: none;
    padding-left: 3rem; 
    margin: 0 1rem;
}

li a {
    vertical-align: text-top;
    text-decoration: none;
}

li a:hover {
    color: #63d488;
}

.mainnav {
    padding-right: 2.5rem;  
}

.main-1 {
    font-weight: normal;
    font-size: 2rem;
}
.content {
    display: block;
    padding-bottom: 5rem;
}


/* navigation */
.mainbody{
   position: relative;
   font-size: 1.1rem;
   font-family: Maison Neue,Helvetica Neue,Helvetica,Arial,sans-serif;
   color: #3b3a3a;
   font-weight: 300;
}
.sizing {
   height: 100vh;
   font-size: 1.1rem;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;

}

.btt a:hover {
    color: red;
}
.btt a {
    text-decoration: none;
    color: firebrick;
    font-weight: 500;
    position: fixed;
    bottom: 0;
    right: 0;
}
/* flexbox */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.mainnav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.leftcol {
    flex-grow: 2;
}
.flex2 {
    display: flex;
    flex-wrap: wrap;
}
.flex3 {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
}

/* Projects */

.pname {
    color: darkgreen;
    font-weight: 300;
    margin: 0;
    display: inline-block;
}

.spbg img {
    width: 423px;
    height: 219px;
}

/* Footer */
.mid {
    justify-content: auto;
    align-self: auto;
    flex-grow: 1;
}
.copyright {
    flex-shrink: 0;
}
.footer {
    height: 50vh;
    background-color: black;
    padding-left: 50vh;
}
.left {
    padding-left: 0;
    margin-right: 10vh;
}
.social {
    margin-left: 10vh;
}

/* special font color */

.grey {
    color: lightgrey;
}

.green {
    color: #63d488;
}

.black {
    color: black;
}

/* pseudo */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
