body {
     color: rgba(206, 191, 191, 0.98);
     background-color: black;
     background: url(./bg.png) no-repeat center fixed;
     background-size: cover;
     height: 100%;
     overflow: hidden;
     position: relative;
     font-family: Helvetica, sans-serif;
}
.header {
    background-color: rgba(0, 0, 255, 0.2);

}
.header-logo {
    display: inline-block; 
    font-size: 2rem;
    padding-left: 15%;
    font-weight: lighter;  
}
.mainnav {
    float: right;
    padding-right: 15%;
    margin-top: 0.7%;
}
.mainnav li {
    list-style-type: none;
    display: inline-block;
    padding-left: 15px; 
    padding-right: 2em;
}
.resize {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

/* back */

.btm {
    text-decoration: none;
    font-family: Maison Neue,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: firebrick;
    font-weight: 500;
    position: fixed;
    bottom: 0;
    right: 0;
}
/* centred text */

.maincontent {
    text-align: center;
    height: 40em;
    position: relative;
}
.container {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 40%; 
}
.container1 {
    margin: 0;
    position: absolute;
    top: 27%;
    left: 30%; 
}
button {
    background-color: rgba(238, 236, 250, 0.2);
    color: white;
    font-size: 1em;   
}

.input {
    background-color: rgba(255, 255, 255, 0.01);
    border: solid white 0.02em;
    color: white;
    text-align: left;
    font-size: 1em;
}

.line1 {
    font-size: 4em;
    color: rgb(215, 214, 240);
    font-weight: 300;
    padding: 0%;
    margin: 0;
}
.line2 {
    font-size: 1.5em;
    color: wheat;
    font-weight: 80;
    padding: 0;
    margin: 0;
}
/* mediaqueries */

@media only screen and (max-width: 1281px) {
    
    .container {
        top: 50%;
        left: 35%; 
    }

    .container1 {
        top: 18%;
        left: 30%;
        font-size: 0.7em; 
    }
}
