
.main {
    border: solid blue thick;
    position: relative;
    height: 180px;
    width: 850px;
    font-family: Helvetica Neue;
    font-weight: 300;
    font-size: 17px;

}

/* words */

.bigwords {
    font-size: 2em;
}

.info p {
    margin: 0;
}

li {
    list-style-type: none;
    display: inline-block;
    margin-left: -41px;
    padding-right: 60px;
}

.info {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 17px;
    padding-right: 22px;
}


/* Pic */

img {
    border-radius: 50%;
    padding: 15px;
}

/* back */

.btm {
    text-decoration: none;
    font-family: Maison Neue,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: firebrick;
    font-weight: 500;
    position: fixed;
    bottom: 0;
    right: 0;
}

